[Unit]
Description=Denodo Data Marketplace
After=denodo-vdp-server.service
Wants=network-pre.target
Before=network-online.target

[Service]
Type=notify
User=denodo
Group=denodo
ExecStart=/opt/denodo-9/bin/datacatalog_startup.sh
ExecStop=/opt/denodo-9/bin/datacatalog_shutdown.sh

[Install]
WantedBy=multi-user.target
