[Unit]
Description=Denodo Design Studio
After=local-fs.target systemd-remount-fs.service denodo-vdp-server.service
Wants=network-pre.target NetworkManager.service
Before=network-online.target

[Service]
Type=simple
User=denodo
Group=denodo
ExecStart=/opt/denodo-9/bin/designstudio_startup.sh
ExecStop=/opt/denodo-9/bin/designstudio_shutdown.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
