[Unit]
Description=Denodo AISDK and Chatbot
After=local-fs.target systemd-remount-fs.service denodo-data-marketplace.service
Requires=denodo-data-marketplace.service
Wants=network-pre.target NetworkManager.service

[Service]
Type=simple
User=denodo
Group=denodo
MemoryMax=1G
WorkingDirectory=/opt/denodo-aisdk
ExecStart=/home/denodo/venv_denodo/bin/python run.py both
ExecStop=/home/denodo/venv_denodo/bin/python stop.py both

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
